body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 5px;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: #333;
  color: #fff;
  padding: 20px;
  width: 10%;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
}

.book-img {
  margin-top: 30px;
  width: 20%;
  text-align: center;
}

.book-img p {
  font-size: 1.5rem;
}

.book-img img {
  width: 80%;
}


.content {
  background-color: rgb(201, 193, 193);
  width: 80%;
  padding: 15px 20px;
  margin-top: 30px;
  border-radius: 10px;
  overflow: scroll;
}

.content h1 {
  padding: 10px 0;
  position: sticky;
  background-color: rgb(201, 193, 193);
}

.book-form {
  margin-top: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.info {
  flex: 1;
  margin-right: 10px;
}

.book-form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.book-form button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}